.accordion {
  transition: all 0.3s ease;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--size-full);
  border-bottom: 1px solid var(--gray-300);
  cursor: pointer;
}

.answer {
  transition: height 0.3s ease;
  display: grid;
  overflow: hidden;
}
.answerActive {
  grid-row: 1fr;
  opacity: 1;
}

.answerHidden {
  grid-row: 0 fr;
  opacity: 0;
}
