#FAQ {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--size-100);

  #FAQ_HowItWork-container {
    padding: var(--size-100);

    h5 {
      font-size: var(--size-600);
      font-weight: 300;
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 1rem;
      padding-right: var(--size-300);
    }
    img {
      width: 100%;
      height: auto;
    }
  }

  #FAQ_QuestionsAndAnswer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .FAQ_QuestionsAndAnswer-item {
      display: flex;
      align-items: center;
      gap: 1rem;
      img {
        width: 4rem;
        height: 4rem;
      }
    }
  }
}

@media screen and (min-width: 640px) {
  #FAQ {
    grid-template-columns: 1fr 1fr;
    gap: var(--size-400);
    #FAQ_HowItWork-container {
      padding: var(--size-100) var(--size-200);

      p {
        color: var(--gray-500);
        padding: var(--size-300) 0;
      }
    }
  }
}
