:root {
  ---blue-primary: #3461ff;
  --white-100: #fafafa;

  --black: 000000;
  --gray-100: rgb(243 244 246);
  --gray-200: rgb(229 231 235);
  --gray-300: rgb(209 213 219);
  --gray-400: rgb(156 163 175);
  --gray-500: rgb(107 114 128);
  --gray-600: rgb(75 85 99);
  --gray-700: rgb(55 65 81);
  --gray-800: rgb(31 41 55);
  --gray-900: rgb(17 24 39);
  --gray-950: rgb(3 7 18);

  /* size*/
  --size-100: 0.5rem;
  --size-200: 1rem;
  --size-300: 1.5rem;
  --size-400: 2rem;
  --size-500: 2.3125rem;
  --size-600: 3rem;
  --size-700: 4rem;
  --size-800: 5rem;
  --size-900: 6rem;
  --size-1000: 8rem;

  /* ling height */

  --leading-3: 0.75rem; /* 12px */
  --leading-4: 1rem; /* 16px */
  --leading-5: 1.25rem; /* 20px */
  --leading-6: 1.5rem; /* 24px */
  --leading-7: 1.75rem; /* 28px */
  --leading-8: 2rem; /* 32px */
  --leading-9: 2.25rem; /* 36px */
  --leading-10: 2.5rem; /* 40px */
  --leading-none: 1;
  --leading-tight: 1.25;
  --leading-snug: 1.375;
  --leading-normal: 1.5;
  --leading-relaxed: 1.625;
  --leading-loose: 2;

  /*  Font size */

  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-base: 1rem; /* 16px */
  --text-lg: 1.125rem; /* 18px */
  --text-xl: 1.25rem; /* 20px */
  --text-2xl: 1.5rem; /* 24px */
  --text-3xl: 1.875rem; /* 30px */
  --text-4xl: 2.25rem; /* 36px */
  --text-5xl: 3rem; /* 48px */
  --text-6xl: 3.75rem; /* 60px */
  --text-7xl: 4.5rem; /* 72px */
  --text-8xl: 6rem; /* 96px */
  --text-9xl: 8rem; /* 128px */

  /* Responsive Breakpoint */
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;
  --screen-2xl: 1536px;
}

body {
  padding: 1rem;
}

/* Shared Style  */

.btn-primary {
  background-color: var(---blue-primary);
  color: white;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
}

.btn-secondary {
  background-color: var(--white-100);
  color: var(--gray-800);
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  white-space: nowrap;
}

.input-mail {
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  background-color: var(--gray-100);
  border-radius: var(--size-300);
  background-color: var(--gray-100);
  border: 1px solid var(--gray-500);
  outline: none;
}
