nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 0 1rem;
    text-transform: capitalize;
  }
} 
